@import '../../assets/style/varibles';
.navBasket {
    background: $white-color;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    max-width: 360px;
    width: 100%;
    padding: 55px 40px;
    .basketBlock {
        background: $gray-light-color;
        border-radius: $primary-radius;
        padding-top: 12px;
        text-align: center;
        h3 {
           
            margin-bottom: 10px;
        }
        .promoution {
            background: $orange-color;
            margin-top: 25px;
            width: 100%;
            font-size: 14px;
            display: inline-block;
            color: $white-color;
            padding: 12px 0px;
            border-radius: 0px  0px $primary-radius $primary-radius;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            
            &:before {
                content: '';
                width: 30px;
                height: 100%;
                z-index: 0;
                left: -30px;
                position: absolute;
                clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                top: 0;
                transition: .7s;
                background: #ffffff69;
            }
            &:hover:before {
                transform: translateX(300px);
            }
        }
    }
    .usLocation {
        background: $gray-light-color;
        border-radius: $primary-radius;
        margin-top: 20px;
        padding-bottom: 8px;
        text-align: center;
        .map {
            background: url(../../assets/images/geolacation.png) no-repeat;
            background-size: cover;
            width: 100%;
            height: 115px;
            &_icon {
                border-radius: 50%;
                background: $orange-color url(../../assets/images/icons/geo.svg) no-repeat;
                background-position: center;
                width: 60px;
                height: 60px;
                display: block;
                margin: 0 auto;
                margin-top: -30px;
            }
        }
        h3 {
            margin: 10px 0px;
        }
    }
    .approve {
        width: 100%;
        height: 100%;
        z-index: 3;
        position: relative;
    }
}
.popup {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 100;
    backdrop-filter: blur(3px);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popupBlock {
    position: relative;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background: #ffffffc7;
    .closePopup {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 30px;
        right: 30px;
        background: url(../../assets/images/icons/closeIcon.png);
        background-size: cover;
    }
}